<!DOCTYPE html>

<html>
	<head>
		<title>Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
		<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

	<link href="css/font-awesome.css" rel="stylesheet">
	
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	</head>

	<body>

		<div class="inner_page_agile">
			<h3>Register</h3>
			<p>Sign Up To Create Account</p>
	
		</div>
		
		<div class="services-breadcrumb_w3layouts">
			<div class="inner_breadcrumb">
	
				<ul class="short_w3ls"_w3ls>
					<li><a href="/login">Login</a><span>|</span></li>
					<li>Register</li>
				</ul>
			</div>
		</div><br>

		<div class="container">
			<form class="form-horizontal" action="/signup" method="POST" align="center">
				<fieldset>
					<div id="legend">
						<legend class="">Register</legend>
					</div>
					<div class="control-group">
						<!-- Username -->
						<label class="control-label"  for="username">Username</label>
						<div class="controls">
							<input type="text" id="username" name="username" placeholder="" class="input-xlarge">
							<p class="help-block">Username can contain any letters or numbers, without spaces</p>
						</div>
					</div>

					<div class="control-group">
						<!-- E-mail -->
						<label class="control-label" for="email">E-mail</label>
						<div class="controls">
							<input type="text" id="email" name="email" placeholder="" class="input-xlarge">
							<p class="help-block">Please provide your E-mail</p>
						</div>
					</div>

					<div class="control-group">
						<!-- Username -->
						<label class="control-label"  for="username">First Name</label>
						<div class="controls">
							<input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge">
							<p class="help-block"></p>
						</div>
					</div>

					<div class="control-group">
						<!-- Username -->
						<label class="control-label"  for="username">Last Name</label>
						<div class="controls">
							<input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge">
							<p class="help-block"></p>
						</div>
					</div>

					<div class="control-group">
						<!-- Password-->
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input type="password" id="password" name="password" placeholder="" class="input-xlarge">
							<p class="help-block">Password should be at least 4 characters</p>
						</div>
					</div>

					<div class="control-group">
						<!-- Password -->
						<label class="control-label"  for="password_confirm">Password (Confirm)</label>
						<div class="controls">
							<input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
							<p class="help-block">Please confirm password</p>
						</div>
					</div>

					<div class="control-group">
						<!-- Button -->
						<div class="controls">
							<button class="btn btn-success">Register</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div><br>
		<br>

		<div class="footer_top_agileits">
			<div class="container">
				<div class="col-md-4 footer_grid">
					<h3>About Us</h3>
					<p>The job marketplace is flooded with highly skilled job seekers, all of which are competing for the same limited number of positions,
						there are more applicants saturating the job market every single day. We  connect thousands of men and women with top employment opportunities.
				   </p>
				</div>
				<div class="col-md-4 footer_grid">
					<h3>Latest News</h3>
					<ul class="footer_grid_list">
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<span style="color:#8b8b96">Laid off workers get priority on online job portals</span>
						</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<span style="color:#8b8b96">COVID-19 to delay job interviews; impact hiring </span>
						</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<span style="color:#8b8b96">Online grocery, pharmacy stores step up hiring to meet demand </span>
						</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<span style="color:#8b8b96">Flipkart CEO reassures staff, says will honour all job offers </span>
						</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							<span style="color:#8b8b96">Artificial Intelligence is creating jobs in India, not just stealing them </span>
						</li>
					</ul>
				</div>
				<div class="col-md-4 footer_grid">
					<h3>Contact Info</h3>
					<ul class="address">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Dehradun, Patna, Bhubaneswar</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@fouseseducation.com">info@fouseseducation.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>+91-7488854260</li>
                    </ul>
				</div>
				
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer_w3ls">
			<div class="container">
				<div class="footer_bottom">
					<div class="col-md-9 footer_bottom_grid">
						<div class="footer_bottom1">
							<a href="#">
								<h2><span class="fa fa-signal" aria-hidden="true"></span> meet <label>Hr Agency</label></h2>
							</a>
							<p>© 2020</p>
						</div>
					</div>
					<div class="col-md-3 footer_bottom_grid">
						<h6>Follow Us</h6>
						<div class="social">
							<ul>
                                <li><a href="https://www.facebook.com/s.Saigirish" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/SSaigirish220" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://rss.com/" target="_blank"><i class="fa fa-rss"></i></a></li>
                            </ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
	
			</div>
		</div>

	</body>
</html>
