<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="color: black;">Title</th>
        <th style="color: black;">Saved on</th>
        <th style="color: black;">Location</th>
        <th style="color: black;">Type</th>
        <th style="color: black;">Priority</th>
        <th style="color: black;">Company</th>
        <th style="color: black;">Actions</th>
      </tr>
    </thead>
    <tbody id="classes">
      <tr ng-repeat="job in jobs">
        <td class="title">{{job.title}}</td>
        <td class="createdOn">{{job.bookmarkedOn}}</td>
        <td class="location">{{job.location}}</td>
        <td class="type">{{job.type}}</td>
        <td class="type">{{job.priority}}</td>
        <td class="company">{{job.name}}</td>
        <td class="details">
          <a class="btn btn-primary"
              href="/viewMyJobDetails/{{job._id}}"
              role="button"></a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
